* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(11, 11, 11);
    color: aliceblue;

}

header {
    padding: 20px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.2rem;

}

header img {
    width: 220px;
}

.sec1 {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.box {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #0B0B0B;
    border-radius: 40px;
    padding: 40px 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow:
        0 10px 40px rgba(255, 120, 0, 0.08);
    transition: all 0.5s ease-in-out;

}

.box:hover {
    border: 2px solid rgba(255, 140, 0, 0.5);

    border-radius: 40px;

    box-shadow:
        0 0 10px rgba(255, 140, 0, 0.3),
        0 0 30px rgba(255, 140, 0, 0.15),
        inset 0 0 20px rgba(255, 140, 0, 0.05);
}

.box img {
    transition: all 0.5s ease-in-out;
    height: 400px;
    position: absolute;

}

.box:last-child img {
    position: absolute;
    height: 250px;
    bottom: 35%;

}

.box .text {
    height: 25%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 15px
}

hr {
    width: 35%;
    border: 1px solid rgb(253, 160, 5);
}

.box p {
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    color: rgb(168, 180, 190);
}

.box h2:last-child {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: rgb(253, 160, 5);
}

.sec2 {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    padding: 40px 30px;
    text-align: center;
    position: relative;
    overflow: hidden;


    background:
        linear-gradient(180deg,
            rgba(20, 20, 20, 0.6),
            rgba(5, 5, 5, 0.6));

    border-radius: 40px;

    overflow: hidden;

    border: 1px solid rgba(255, 150, 0, 0.12);

    box-shadow:
        0 0 40px rgba(255, 120, 0, 0.05);
}

.container img {
    width: 25%;

}

.container div {
    width: 50%;
    text-align: left;
    align-self: self-start;
    padding-top: 30px;

}

.container div h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    color: aliceblue;
}

.container div p {
    font-family: 'poppins', sans-serif;
    color: rgb(253, 160, 5);
    letter-spacing: 0.1rem;
    line-height: 1.5rem;

}

.container div p:nth-last-child(2) {
    color: rgb(167, 180, 190);

}

.container img:last-child {
    width: 300px;
    mix-blend-mode: screen;
    position: relative;
    bottom: -75px;
    opacity: 0.4;
}

.container div button {
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 30px;
    background: none;
    border: 1px solid rgb(253, 160, 5);
    color: rgb(253, 160, 5);
    font-family: 'poppins', serif;
    font-size: 16px;
    border-radius: 50px;


}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    font-family: 'Cormorant Garamond', serif;
    
    border-top: 0.5px solid rgba(253, 160, 5,0.4);
}

footer a {
    text-decoration: none;
    color: rgb(167, 180, 190);
    font-family: 'poppins', serif;
    font-size: 16px;


}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.dot {
    color: rgb(253, 160, 5);
}

.icon{
    width:35px;
    height:35px;

    border-radius:50%;

    border:1px solid rgba(255,140,0,0.4);

    display:flex;
    justify-content:center;
    align-items:center;

    color:#ff8800;

    transition:0.3s;
}

.icon:hover{
    background:#ff8800;
    color:black;

    box-shadow:
    0 0 20px rgba(255,140,0,0.3);
}
.social{
    display:flex;
    align-items:center;
    gap:16px;
}

.follow{
    margin-right:10px;

    color:#d8d8d8;
}