@font-face {
    font-family: Reckless;
    src: url("./Fonts/RecklessCondensedS-TRIAL-Book.woff");
}

@font-face {
    font-family: RobotoMono;
    src: url("./Fonts/RobotoMono-Regular.ttf");

}

@font-face {
    font-family: figTree;
    src: url("./Fonts/figtree.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;

}

.ad {
    width: 100vw;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A2857;
}

.ad h4 {
    font-family: "RobotoMono";
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;

}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #FFFEFA;
    border: 0.1rem solid #201C1A;
    border-radius: 2rem;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;


}

nav ul li a {

    text-decoration: none;
    color: #201C1A;
}

.nav-1 {
    width: 45%;
}

.nav-1 a {
    padding-right: 0.5rem;
    font-weight: 300;
}

.nav-1 ul li {

    display: flex;
    align-items: center;
    font-family: "Reckless";
    font-size: 1.5rem;
    font-weight: 300;
    color: #201C1A;
    letter-spacing: 0.05rem;



}

.nav-1 ul {
    gap: 1rem;
    justify-content: flex-start;
}

.nav-1 i {
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: #C0DBFF;
}

header h4 {
    font-size: 2rem;
    font-weight: 100;

}

header h4 i {
    font-weight: 100;
    display: none;
}

header h4 svg {
    display: none;
}

.nav-2 {
    width: 45%;
}

.nav-2 ul {
    font-family: 'Figtree', sans-serif;
    gap: 1.5rem;
    justify-content: flex-end;

}

.nav-2 ul li {
    font-family: "RobotoMono", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #201C1A;
}


#star {
    height: 1.4rem;
    width: 1.4rem;
    color: #FFB502;
}





.sec-1 {
    position: relative;
    padding: 2rem 1.5rem;
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=1280");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 92vh;
    border-bottom: 1px solid #201C1A;

}

.heroBody{
    width: 25vw;
    font-family: 'Reckless';
    color: #FBF9EB;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
}

.heroBody h1{
    font-size: 5rem;
    font-weight: 400;
}
.heroBody p{
    font-family: 'Figtree';
    font-size: 1.15rem;
    font-weight: 300;
}
.heroBody button{
    cursor: pointer;
    color: #FBF9EB;
    font-family: 'Figtree';
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.15rem;
    width: fit-content;
    padding: 1.2rem 5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: #2A2857;
}


.sec2{

}
@media (max-width: 768px) {

    header h4 i {
        display: block;
        width: auto;
    }

    header h4 svg {
        display: block;
        width: auto;
    }

    .nav-1 {
        display: none;

    }

    .nav-2 {
        display: none;
    }

    .sec-1 {
    position: relative;
    padding: 2rem 1.5rem;
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=1280");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 92vh;
    border-bottom: 1px solid #201C1A;

}


    .heroBody{
    width: 100vw;
    font-family: 'Reckless';
    color: #FBF9EB;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    position: absolute;
    left: 0rem;
    bottom: 5rem;
    
}

   .heroBody h1{
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }

  .heroBody p{
    font-family: 'Figtree';
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
}


}

@media (min-width: 768px) {
    header h4 i {
        display: block;
        width: auto;
    }

    header h4 svg {
        display: block;
        width: auto;
    }

    .nav-1 {
        display: none;

    }

    .nav-2 {
        display: none;
    }


    .sec-1 {
    position: relative;
    padding: 2rem 0rem;
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=1280");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 92vh;
    border-bottom: 1px solid #201C1A;

}


    .heroBody{
    
    font-family: 'Reckless';
    color: #FBF9EB;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

   .heroBody h1{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  .heroBody p{
    font-family: 'Figtree';
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
}
}

@media (min-width: 1048px) {
    header h4 i {
        display: none;
    }

    header h4 svg {
        display: none;
    }

    .nav-1 {
        display: block;
        width: 36%;
    }
    .nav-1 ul li{
    font-size: 1.2rem;
   }
    .nav-2 {
        display: block;
        width: 49%;
    }
   .nav-2 ul li{
    font-size: 0.65rem;
   }
}

@media (min-width: 1280px) {
    header h4 i {
        display: none;
    }

    header h4 svg {
        display: none;
    }

    .nav-1 {
        display: block;
        width: 45%;
    }
    .nav-1 ul li{
    font-size: 1.5rem;
   }
    .nav-2 {
        display: block;
        width: 45%;
    }

     .nav-2 ul li{
    font-size: 0.7rem;
   }
}