* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


}

html,
body {
    height: 100%;
    width: 100%;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.Left {
    height: 100%;
    width: 50%;
    background-color: rgb(254, 254, 254);


}

.Right {
    height: 100%;

    width: 50%;
    background-color: rgb(185, 57, 48);

}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 50px;
    gap: 80px;
}

.logo {
    font-size: 36px;
    font-weight: 600;
    color: #062b23;
    letter-spacing: 3px;
}

.search-box {
    width: 420px;
    height: 50px;

    background: #efefef;

    border-radius: 999px;

    padding: 0 25px;

    display: flex;
    align-items: center;
    gap: 18px;
}

.search-box i {
    font-size: 20px;
    color: #555;
}

.search-box input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    font-size: 16px;
}


.info {
    width: 420px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item {
    display: flex;
    gap: 18px;
font-family: "poppins", sans-serif;
    border-bottom: 1px solid #ddd;

    padding-bottom: 24px;
}

.dot {
    width: 12px;
    height: 12px;

    background: #d63a32;

    border-radius: 50%;

    margin-top: 12px;
}

.text h2 {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 500;

}

.text p {
    font-size: 16px;
    color: #333;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 30px 50px 70px;
    gap: 120px;
}

.classifi {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 35px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    color: #062b23;

    letter-spacing: 2px;
}

nav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding: 35px 10px;
    width:100%;
    

    margin:auto;
}

nav a{
    color:white;

    text-decoration:none;
    font-family: "poppins", sans-serif;

    font-size:16px;

    font-weight:400;
}

