*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   width: 100%; 
   height: 100%;
}
main{
    height: 100vh;;
    background-color: #ededed;
    transition: all 0.5s ease-in-out;


}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #ededed;
    border-bottom: 0.06rem solid #0c0c0c;
    transition: all 0.5s ease-in-out;
}

.bgBlack{
    background-color: #0c0c0c;
}

.whiteText{
    color: #ededed !important; /* Important is add for must add white color */
}

.borderWhite{
     border-bottom: 0.06rem solid #ededed;
}
header .left h1{
    font-family: 'poppins';
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0c0c0c;
    transition: all 0.5s ease-in-out;


}

header .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
header .right h4{
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #0c0c0c;

}

header .right p{
    font-size: 2rem;
    font-weight: 400;
    color: #0c0c0c;
}
